{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            <div class="page-heading">{{ i18n "crime" }}</div>
            <ul>
                {{ if eq .Site.Params.bloggroupby "month" }}
                    {{ $.Scratch.Set "datespec" "Jan, 2006" }}
                {{ else if eq .Site.Params.bloggroupby "year" }}
                    {{ $.Scratch.Set "datespec" "2006" }}
                {{ end }}
                {{ if not ($.Scratch.Get "datespec") }}
                    {{ range .Data.Pages.ByPublishDate.Reverse }}
                    {{ partial "li.html" . }}
                    {{ end }}
                {{ else }}
                    {{ range .Data.Pages.ByPublishDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
                        <li class="post-item no-bullet">
                            <span class="date">{{ .Key }}</span>
                        </li>
                        {{ range .Pages.ByPublishDate.Reverse }}
                           {{ range .Data.Pages }}
                      <li style="list-style: none;
    color: #a80e0e;"><svg width="18" height="10" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="currentcolor" opacity=".4" d="M12.7975 4.80957l3.6992-.32715C17.3269 4.48242 18 5.16206 18 6.00032S17.3269 7.51822 16.4967 7.51822L12.7975 7.19107C12.1463 7.19107 11.6183 6.65793 11.6183 6.00032 11.6183 5.34161 12.1463 4.80957 12.7975 4.80957z"></path></svg>
                          
                          
                          <a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a></li>
                  {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
