/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,

tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.column {
    float: right;
    width: 100%;
    padding: 0 10px 20px;
    height: 282px;
}
  .row {
    margin: 0 -5px;
}
  .w3-container, .w3-panel {
    padding: 5px;
    margin-right: 10px;
}
.card img {
    border-radius: 3px;
    /* box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px; */
    filter: grayscale(94%);
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 15%);
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}
.card img:hover {
    filter: grayscale(5%);
    outline: 0.5rem solid #f0e68c7a;
    outline-offset: -1.5rem;
}
