


{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            
            
                <div class="markdown">
                  <h1>
                      نوشته‌های {{ .Params.name }}</h1>
                  <ul>
                  {{ range .Data.Pages }}
                      <li><a href="{{ .Permalink }}" target="_blank">{{ .Title }}</a></li>
                  {{ end }}
                  </ul>
                </div>
            
      
    </div>
    
</section>

{{ partial "footer.html" . }}
