{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            {{ partial "page-heading.html" . }}
            {{ range .Paginator.Pages }}
            {{ with .Data.Pages }}
            <nav class="section-items">
                <ul>
                {{ range .ByWeight }}
                    <li><a {{ printf "href=%q" .RelPermalink | safeHTMLAttr }}>{{ default .Title .Params.heading }}</a></li>
                {{ end }}
                </ul>
            </nav>
            {{ end }}{{end}}
        </div> {{ partial "pagination.html" . }}
    </div>
</section>
{{ partial "footer.html" . }}
