{{ partial "header.html" . }}
<section class="main">
  <div class="w3-container">
        <div class="content">
          
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
               
            {{ end }}
            <!-- Trigger/Open the Modal -->
            
            

<div class="page-heading">{{ i18n "learn" }}</div><p></p>
            <ul>
                
                    {{ range .Data.Pages.ByPublishDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
                        <li class="post-item no-bullet">
                            <span class="date">{{ .Key }}</span>
                        </li>
                        {{ range .Pages.ByPublishDate.Reverse }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                
            </ul>
      </div>
       
         
          
        </div>
	
    </div>
</section>
{{ partial "footer.html" . }}
