{{ partial "footer_scripts" . }}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">
<script>
  $(document).ready(function () {

    ConvertNumberToPersion();
});

function ConvertNumberToPersion() {
    persian = { 0: '۰', ۱: '۱', ۲: '۲', ۳: '۳', ۴: '۴', ۵: '۵', ۶: '۶', ۷: '۷', ۸: '۸', ۹: '۹' };
    function traverse(el) {
        if (el.nodeType == 3) {
            var list = el.data.match(/[0-9]/g);
            if (list != null && list.length != 0) {
                for (var i = 0; i < list.length; i++)
                    el.data = el.data.replace(list[i], persian[list[i]]);
            }
        }
        for (var i = 0; i < el.childNodes.length; i++) {
            traverse(el.childNodes[i]);
        }
    }
    traverse(document.body);
}
</script>

</body>
</html>
