{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            {{- range .Params.authors }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
              <figure>
                <img src="{{ .Params.photo }}" alt=""/>
                <figcaption>
                  <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                </figcaption>
              </figure>
            {{ end }}
          {{ end }}
            <div class="page-heading2">{{ i18n "tagcloud" }}</div>
    <nav1 class="markdown">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                          <a style="font-size: 14px;
            color: #000;" href="/tags/{{ $name | urlize }}" target="_blank"># {{ $name | humanize }}({{ $taxonomy.Count }})</a>
                        {{end}}
        </nav1>
        
    </div>
    
</section>

{{ partial "footer.html" . }}

