{{ partial "header.html" . }}
<section class="main">
  <div class="w3-container">
        <div class="content">
          
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
                

<!-- The Modal -->
<div id="id01" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <p>یارمەتی مادی</p>
      <p>.گەر ئەم فێرکاریانە بەسوودن، شادمانم دەکەیت و پێنووسم بە هێز، گەر یارمەتیێکی مادیت لێ بێتەوە. گەر تواناییت نییە چاوت ماچ دەکەم، زۆر زۆر دڵگەرمم دەکەی فێربیت و هاوبەشی بکەی</p>
	
<ul>
	<li>ژمارەی بانکی نێو دەوڵەتی :IR450190000000304059302003</li>
	<li>ژمارەی کارتی بانکی (سادرات) :7427-4486-6915-6037</li>
	<li>بەڕێزم :) (سید)جواد‌سجادی</li>
	</ul>
	<p></p>
    </div>
  </div>
</div>
            {{ end }}
            <!-- Trigger/Open the Modal -->
            
            

<div class="page-heading"><span style="cursor:pointer;float: left;" onclick="document.getElementById('id01').style.display='block'" ><img src="https://img.icons8.com/cotton/40/000000/volunteering.png"/></span>{{ i18n "learn" }}</div><p></p>
            <div class="row">{{ range where .Paginator.Pages "Section" "ne" "" }}
              <div class="column">
            <div class="card" style="width:100%">
                
                  
                       <a href='{{ .Permalink }}'><img{{ with .Params.image }} src="{{ . }}"{{ end }} alt="{{ .Title }}"></a>
                          <h2></h2>
                          <div class="w3-container w3-center">
                            <p>{{ .Description | markdownify }}</p>
                          </div>
                           
                        
                         
                    
              
            </div>
        </div>                  {{ end }}
      </div>
        
         
          
        </div>
	
    </div>
</section>
{{ partial "footer.html" . }}
