{{ partial "header.html" . }}
<section class="main">
  <div class="w3-container">
        <div class="content"> 
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>        
            {{ end }}
		<div class="page-heading2">{{ i18n "filme" }}</div>
            <div class="row">{{ range where .Paginator.Pages "Section" "ne" "" }}
              <div class="column">
            <div class="card" style="width:100%">
                       <a href='{{ .Permalink }}'><img{{ with .Params.image }} src="{{ . }}"{{ end }} alt="{{ .Title }}"></a>                          
                          <div class="w3-container w3-center">
				  <h2>{{ .Title }}</h2>
                            <p>{{ .Description | markdownify }}</p>
                          </div>
            </div>
        </div>                  {{ end }}
      </div> 
		    
                 {{ if isset .Site.Params "paginate" }}
                <div style="padding-bottom:20px;">
                    {{ $pag := .Paginate (where site.RegularPages "Type" "in" "filme") .Site.Params.Paginate }}
                    <ul>
                    {{ range $pag.Pages }}
                        {{ partial "li.html" . }}
                    {{ end }}
                    </ul>
                </div>

                {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
                <div>
                    <ul>
                        {{ if .Paginator.HasPrev }}
                            <li style="float:left;">
                                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
                            </li>
                        {{ end }}
                        {{ if .Paginator.HasNext }}
                            <li style="float:right;">
                                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
		  
        </div>	
    </div>
</section>
{{ partial "footer.html" . }}
