{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                    <div class="initials"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Initials }}</a></div>
                </div>
                <div class="meta">
                    
                    <div class="reading-time">تاریخ: {{ $shamsi := newScratch }}
                    {{ $shamsi.Set "diff" (sub (add ( div .PublishDate.Unix 86400) 25569) (add ( div (time "1920-03-20").Unix 86400) 25569)) }}
                    {{ $shamsi.Set "gn" (div (mod (mul ($shamsi.Get "diff") 100) 36525) 100) }}
                    {{ $shamsi.Set "year" (math.Floor (add (div ($shamsi.Get "diff") 365.25) 1299)) }}
                    
                    {{ if lt (int ($shamsi.Get "gn")) 186 }}
                      {{$shamsi.Set "month" (add (mod (int (div ($shamsi.Get "gn") 31)) 12) 1)}}
                    {{else if eq (mod (int (div ($shamsi.Get "diff") 365.25)) 4) 0}}
                      {{ $shamsi.Set "month" ( add (mod (add (int (div (sub (int ($shamsi.Get "gn")) 186) 30)) 6) 12) 1) }}
                    {{else if lt (int ($shamsi.Get "gn")) 336 }}
                      {{ $shamsi.Set "month" ( add (mod (add (int (div (sub (int ($shamsi.Get "gn")) 186) 30)) 6) 12) 1) }}
                    {{else}}
                      {{ $shamsi.Set "month" ( add (mod (add (int (div (sub (int ($shamsi.Get "gn")) 336) 29)) 11) 12) 1) }}
                    {{ end }}
                    
                    {{ if lt (int ($shamsi.Get "gn")) 186 }}
                      {{ $shamsi.Set "day" (add (mod (int ($shamsi.Get "gn")) 31) 1) }}
                    {{else if eq (mod (int (div ($shamsi.Get "diff") 365.25)) 4) 0}}
                      {{ $shamsi.Set "day" (add (mod (sub (int ($shamsi.Get "gn")) 186) 30) 1) }}
                    {{else if lt (int ($shamsi.Get "gn")) 336 }}
                      {{ $shamsi.Set "day" (add (mod (sub (int ($shamsi.Get "gn")) 186) 30) 1) }}
                    {{else}}
                      {{ $shamsi.Set "day" (add (mod (sub (int ($shamsi.Get "gn")) 336) 29) 1) }}
                    {{ end }}
                    {{ $shamsi.Get "year" }}/{{$shamsi.Get "month"}}/{{$shamsi.Get "day"}}
                    
                    {{ if not .Site.Params.noshowreadtime }}
		   <div class="middot"></div>{{ i18n "readingTime" .ReadingTime }}<div class="middot"></div>{{.WordCount}} کلمه  {{ if .Params.tags }}
        <div class="middot"></div>
      برچسب:
        {{range .Params.tags}}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>،
        {{end}}
        <div class="middot"></div> نویسنده : {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
          
              <a href="{{ .Permalink }}">{{ .Params.name }}</a>
           
        {{ end }}
      {{ end }}
        
      
        <br />
      {{end}}</div>
                    {{ end }}
                </div>
            </div>
            <div class="markdown">
                
                {{ .Content }}
               
            </div>
            <br>
            <div class="disqus">
              <!-- Related -->
                   {{ partial "related.html" . }}
              <!-- /Related -->
                </div>
            </div>
           
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
